<form action="/users/<%= @user.nickname %>" method="POST" role="form" data-remote="true">
  <label>What's your Flatiron story?<br><br>
  <input type="text" name="user[bio]" style="text-align:center;"></label><br><br>
  <input type="submit" name="submit" class="btn btn-sm" value="Submit">
</form>