<div class="container">
<div class="lesson">
  <h2>Hey there, <%= @user.nickname %>!</h2>

  <p>It looks like you don't have <strong>an email address</strong> publicly associated with your GitHub account!</p>

  <p>We'll need a way to let the admin's of lessons you sign up for to contact you!</p>

  <form action="/users/<%= @user.nickname %>" method="POST" role="form">
    Enter you Email: <input type="text" name="email">
    <input type="submit" name="submit" value="Submit">
  </form>

</div>
</div>