<h3><%= experience.tag.name %> <small>(Level X)</small></h3>
  <p>Taken: <%= experience.taken %> | 
  Taught: <%= experience.taught %> | 
  Github Score: <%= experience.gh_stat %></p>
  <p>% To Next Level: ...........</p>
