<h3><%= experience.tag.name %> <small>(Level X)</small></h3>
  <p>Taken: <%= experience.taken %> | 
  Taught: <%= experience.taught %> | 
  Lines of Github Code: <%= experience.gh_stat %></p>
  <p>% To Next Level: ...........</p>
