<div class="row">

  <div class="lesson col-md-6" id="tag-stats">
    <h1><%= @tag.name %></h1>
  </div>

  <div class="lesson col-md-6" id="tag-lessons">
    <h3>Upcoming Lessons:</h3>
  </div>

</div>



