<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test email!</h1>
    <p>
      You've recieved this message because you've signed up for <%= @lesson.name %> through XP! Awesome!
    </p>
  </body>
</html>