<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test email!</h1>
    <p>
      Hello, <%= @user.name %>!
    </p>
    <p>
      You've received this message because you've signed up for XP! You're Awesome!
    </p>
  </body>
</html>