<div id="current-teachers" class="col-sm-6">
  <h4>Current Teachers:</h4>
    <% unless @lesson.teachers == [] %>
      <% @lesson.teachers.each do |teacher| %>
        <%= display_user(teacher) %><br><br>
      <% end %>
    <% else %>
      <p>No one has volunteered to teach this lesson yet! Will you be the one?</p>
    <% end %>
</div>

<div id="current-students" class="col-sm-6">
  <h4>Current Students:</h4>
    <% unless @lesson.students == [] %>
      <% @lesson.students.each do |student| %>
        <%= display_user(student) %><br><br>
      <% end %>
    <% else %>
      <p>No one signed up for this lesson yet! Tell your friends!</p>
    <% end %>
</div>