<div class="jumbotron lesson col-md-5">

 <%= button_to "Admin This!", {:controller => "user_lessons", :action => "update", :lesson_id => @lesson.id, :id => @user_lesson.id, :'user_lesson[admin]' => "true"}, {:method => :patch, :class => "btn btn-success"} %>

</div>