<div class="jumbotron lesson col-md-5">

 <%= button_to "Admin This!", {:controller => "registrations", :action => "update", :lesson_id => @lesson.id, :id => @registration.id, :'registration[admin]' => "true"}, {:method => :patch, :class => "btn btn-success"} %>

</div>