   
<div class="col-sm-3 col-md-2 sidebar">
    <h3>Filters</h3>
    <ul class="nav nav-sidebar"><h4>Interest</h4>
      <li><a href="#" id="show_all">Show All Lessons</a></li>
      <li><a href="#" id="no_students">Students Needed</a></li>
      <li><a href="#" id="no_teachers">Teachers Needed</a></li>
    </ul>
    <ul class="nav nav-sidebar"><h4>Location</h4>
      <% @location_tags.each do |tag| %>
      <li><%= tag.name %></li>
      <% end %>
    </ul>
    <ul class="nav nav-sidebar"><h4>Time</h4>
      <% @time_tags.each do |tag| %>
      <li><%= tag.name %></li>
      <% end %>
    </ul>
    <ul class="nav nav-sidebar" id="tags"><h4>Topic</h4>
      <% @topic_tags.each do |tag| %>
      <li><%= tag.name %></li>
      <% end %>
    </ul>
</div>