      
        <div class="col-sm-3 col-md-2 sidebar">
            <li>Filters</li>
            <li><a href="#" id="show_all">Show All Lessons</a></li>
            <ul class="nav nav-sidebar">
              <li>Interest</li>
              <li><a href="#" id="no_students">Students Needed</a></li>
              <li><a href="#" id="no_teachers">Teachers Needed</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li>Location</li>
              <li><a href="">On Campus</a></li>
              <li><a href="">Remote</a></li>
              <li><a href="">Virtual</a></li>
            </ul>
            <ul class="nav nav-sidebar">
              <li>Topic</li>
              <li><a href="">CSS</a></li>
              <li><a href="">JQuery</a></li>
              <li><a href="">Arel</a></li>
            </ul>
        </div>