      
        <div class="col-sm-3 col-md-2 sidebar">
            <li>Filters</li>
          <ul class="nav nav-sidebar">
            <li>Interest</li>
            <li><a href="#">Students Needed</a></li>
            <li><a href="#">Teachers Needed</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li>Location</li>
            <li><a href="">On Campus</a></li>
            <li><a href="">Remote</a></li>
            <li><a href="">Virtual</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li>Topic</li>
            <li><a href="">CSS</a></li>
            <li><a href="">JQuery</a></li>
            <li><a href="">Arel</a></li>
          </ul>
        </div>