<div class="container">
  <div class="jumbotron">
    <h3>Edit This Lesson</h3>
    <%= render 'form' %>
    <%= link_to 'Delete This Lesson', @lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
