<%= render "lessons/lesson_nav", locals: {location_tags: @location_tags, time_tags: @time_tags, topic_tags: @topic_tags } %>

<div class="container lesson-container">
  <% if notice %>
    <div class="alert alert-info">
      <p id="notice"><%= notice.html_safe %></p>
    </div>
  <% elsif alert %>
    <div class="alert alert-warning">
      <p id="alert"><%= alert.html_safe %></p>
    </div>
  <% end %>

  <div class="row">
    <%= render @lessons %>
  </div>
</div>
