<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="floater">
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="lesson">

        <h3><%= "Teach a " if @role == "teacher" %><%= "Request a " if @role == "student" %>New Lesson</h3>
        <br>

        <%= render 'lessons/form' %>

        <%#= render 'tags/form' %>

      </div>
    </div>
  </div>