<p id="notice"><%= notice %></p>
  <div class="container">
    <div class="lesson">

      <h3><%= "Teach a " if @role == "teacher" %><%= "Request a " if @role == "student" %>New Lesson</h3>

      <%= render 'lessons/form' %>

      <%#= render 'tags/form' %>

    </div>
  </div>