<p id="notice"><%= notice %></p>
<div class="container">

  <h1>Create a New Lesson<!--  as <%#= @role %> --></h1>

  <div class="jumbotron">
  <%= render 'form' %>
  </div>


  <%= form_for @tag, html: {class: 
  "form-inline", role: "form"} do |f| %>
    <div class="form-group">
      <input type="text" name="name">
    </div>
    <input type="submit" value="Create a New Tag" class="btn btn-sm">

  <% end %>
</div>
<br><br><br>