<h1>New lesson</h1>

<%= render "lessons/sidebar",
locals: {location_tags: @location_tags, time_tags: @time_tags, topic_tags: @topic_tags } %>

<div class="jumbotron">
<%= render 'form' %>
</div>

<%= link_to 'Back', lessons_path %>
