// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 10px;
  width: 70%;
  h1 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }

}

.form-control {
  max-width: 700px;

}

// .chosen-container {
//   width: 100% !important;
// } 

// .chosen-container-multi {
//   width: 95% !important;
// }