// Place all the styles related to the Lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .lessons {
//   padding-top: 24px;
//   padding-bottom: 24px;
//   margin-top: 12px;
//   margin-bottom: 12px;
//   h1 {
//     font-size: 24px;
//   }
//   p {
//     font-size: 14px;
//   }
// }

$gray-lighter:                lighten(#000, 93.5%) !default; // #eee
$font-size-base:              14px !default;
$border-radius-large:         6px !default;
$screen-sm:                   768px !default;
$screen-sm-min:               $screen-sm !default;
$lesson-padding:              12px !default;
$lesson-color:                inherit !default;
$lesson-bg:                   $gray-lighter !default;
// $lesson-bg-student:           lighten(#17FF91, 50%);
// $lesson-bg-teacher:           lighten(#CC9527, 50%);
$lesson-bg-student:           rgba(78, 184, 134, 0.3);
$lesson-bg-teacher:           rgba(236, 158, 0, 0.3);
$lesson-heading-color:        inherit !default;
$lesson-font-size:            ceil(($font-size-base * 1)) !default;

// 98  184 78  green
// 236 158 0 orange
.lesson {
  padding: $lesson-padding;
  margin-bottom: ($lesson-padding * 2);
  color: $lesson-color;
  background-color: $lesson-bg;

  h1,
  .h1 {
    color: $lesson-heading-color;
  }
  p {
    margin-bottom: ($lesson-padding / 1);
    font-size: $lesson-font-size;
    font-weight: 200;
  }

  .container & {
    border-radius: $border-radius-large; // Only round corners at higher resolutions if contained in a container
  }

  .container {
    max-width: 100%;
  }

  @media screen and (min-width: $screen-sm-min) {
    padding-top:    ($lesson-padding * 1.6);
    padding-bottom: ($lesson-padding * 1.6);

    .container & {
      padding-left:  ($lesson-padding * 2);
      padding-right: ($lesson-padding * 2);
    }

    h1,
    .h1 {
      font-size: ($font-size-base * 2);
    }
  }
}

.teacher-color {
  background-color: $lesson-bg-teacher;
}

.student-color {
  background-color: $lesson-bg-student;
}

.lesson-index {

}

.lesson-show {
  
}

.lesson-container {
  width: 85%;
}

.form-control {
  max-width: 700px;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
  height: auto;
}

.navbar-main {
  margin-bottom: 0px;
}

.floater {
  width: 100%;
  height: 24px;
}

.chosen-index {
  width: 100%;
}

.chosen-box {
  vertical-align: middle;
  display: inline-block;
  width: 300px;
}

.button_to {
  display: inline-block;
}

.tag_box {
  font-size: 13px;
  position: relative;
  margin: 3px 0px 3px 5px;
  padding: 3px 7px 3px 7px;
  color: #333;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: #e4e4e4;
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  line-height: 32px;
  white-space: nowrap;
}

.tag_box:hover {
  text-decoration: none;
  color: #333;
}

