<div id="footer">
  <div class="container">
    <p class="text-muted"><%= link_to "Made", "https://github.com/kronosapiens/xp" %> with <span class="glyphicon glyphicon-heart" style="color: red;"></span> & <span class="glyphicon glyphicon-book" style="color: purple;"></span> by <%= link_to "Sam", "http://www.github.com/sts10" %> and <%= link_to "Daniel", "http://www.github.com/kronosapiens" %>, with thanks to <%= link_to "@flatironschool", "https://twitter.com/flatironschool" %></p>
  </div>
</div>